// Copyright (c) 2025 The ZMK Contributors
// SPDX-License-Identifier: MIT

// Default scroll sensitivity for encoder-based scrolling
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100    // default was 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

// Keep all behavior settings visible in ZMK Studio
#define ZMK_BEHAVIORS_OMIT_KT

// Layer indices
#define BASE    0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define MOUSE   4
#define SCROLL  5
#define MOUSE2  6
#define SCROLL2 7

// Reference: https://zmk.dev/docs/keymaps/behaviors/

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    behaviors {
        enc_scroll: enc_scroller {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
		
		/* Setup left and right */
        kpad: key_lip_a_d {
            compatible = "zmk,behavior-key-press-lip";
            #binding-cells = <1>;
            keycodes = <A D>;
        };

        /* Setup up and down */
        kpws: key_lip_w_s {
            compatible = "zmk,behavior-key-press-lip";
            #binding-cells = <1>;
            keycodes = <W S>;
        };

        /* mod-morph for backspace, shift (either side) + backspace = delete */
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>; 
        };
    };

    macros {
        orbit: orbit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LSHIFT &mkp MCLK>,
                <&macro_pause_for_release>,
                <&macro_release &kp LSHIFT &mkp MCLK>;
        };

        pan: pan {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &mkp MCLK>,
                <&macro_pause_for_release>,
                <&macro_release &mkp MCLK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // -------------------------------------------------------------------------------
        // BASE Layer
        // -------------------------------------------------------------------------------
        // |  Q  | W |  E  |  R  |  T  |             |  Y  |  U  | I | O | P |
        // |  A  | S |  D  |  F  |  G  |             |  H  |  J  | K | L | ; |
        // |  Z  | X |  C  |  V  |  B  |Paste|Bsp/Del|  N  |  M  | , | . | / |
        //           |Shift|Enter|Lower|             |Raise|Space|
        default_layer {
            display-name = "base";
            bindings = <
                &kp Q    &kpws W  &kp E     &kp R     &kp T                          &kp Y     &kp U     &kp I     &kp O   &kp P
                &kpad A  &kpws S  &kpad D   &kp F     &kp G                          &kp H     &kp J     &kp K     &kp L   &kp SEMI
                &kp Z    &kp X    &kp C     &kp V     &kp B     &kp LC(V) &bspc_del  &kp N     &kp M     &kp COMMA &kp DOT &kp FSLH
                                  &kp LSHFT &kp ENTER &mo LOWER                      &mo RAISE &kp SPACE
            >;
            sensor-bindings = <&enc_scroll SCRL_DOWN SCRL_UP>;
        };

        // ------------------------------------------------------------------------
        // LOWER Layer
        // ------------------------------------------------------------------------
        // |TAB| F2 | F3 |  F4  |  F5  |         | F6  |  F7  | F8 | F9 |F10 |
        // | A |  S |  D |  F   |  G   |         |  H  |  J   | K  | L  | ;  |
        // | Z |  X |  C |  V   |  B   |Vol-|Vol+|  N  |  M   | ,  | .  | ←  |
        //              |Mouse|  ▽  |  ▽  |         |  ▽  |  ▽  |
        lower_layer {
            display-name = "lower";
            bindings = <
                &kp TAB &kp F2 &kp F3      &kp F4    &kp F5                           &kp F6  &kp F7    &kp F8    &kp F9    &kp F10
                &kp A   &kp S  &kp D       &kp F     &kp G                            &kp H   &kp J     &kp K     &kp L     &kp SEMI
                &kp Z   &kp X  &kp C       &kp V     &kp B  &kp C_VOL_DN &kp C_VOL_UP &kp N   &kp M     &kp COMMA &kp DOT   &kp LEFT_ARROW
                               &mo MOUSE   &trans    &trans                           &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        // ---------------------------------------------------------------------------
        // RAISE Layer
        // ---------------------------------------------------------------------------
        // |ClrAll|Clr|BT1|BT2|BT3 | BT4 |BT5|         |M2 | F7  |F8 |F9 |F10 |Scr↑|MB4 |
        // |      |TAB| Q | W | E  |  R  | T |         | Y |  U  | I | O | P  |Scr↓|MClk|
        // | GUI  |CAP| A | S | D  |  F  | G |         | H |  J  | K | L |LClk| ↑  |RClk|
        // | CTL  |ALT| Z | X | C  |  V  | B |Vol-|Boot| N |  M  | , | . | ←  | ↓  | →  |
        //                    |Boot|Space|   |         |   |Space|
        raise_layer {
            display-name = "raise";
            bindings = <
                &bt BT_CLR_ALL &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2                          &to MOUSE2 &kp F7    &kp F10        &msc SCRL_UP   &mkp MB4
                &bt BT_SEL 3   &bt BT_SEL 4 &kp A        &kp S        &kp D                                 &kp H      &kp J     &mkp LCLK      &mmv MOVE_UP   &mkp RCLK
                &trans         &trans       &kp Z        &kp X        &kp C        &kp C_VOL_DN &bootloader &kp N      &kp M     &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT
                                            &trans       &trans       &trans                                &trans     &kp SPACE
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        // -----------------------------------------------------
        // ADJUST Layer
        // -----------------------------------------------------
        // |TAB| W |  E  |  R  |  T  |         |  Y  |  U  |  P |Scr↓|MClk|
        // |CAP| S |  D  |  F  |  G  |         |  H  |  J  |LClk| ↑  |RClk|
        // | ▽ | X |  C  |  V  |  B  |Vol-|Vol+|  N  |  M  | ←  | ↓  | →  |
        //         |Shift|Space|  ▽  |         |  ▽  |Space|
        adjust_layer {
            display-name = "adjust";
            bindings = <
                &kp TAB  &kp W &kp E     &kp R     &kp T                            &kp Y  &kp U     &kp P          &msc SCRL_DOWN &mkp MCLK
                &kp CAPS &kp S &kp D     &kp F     &kp G                            &kp H  &kp J     &mkp LCLK      &mmv MOVE_UP   &mkp RCLK
                &trans   &kp X &kp C     &kp V     &kp B  &kp C_VOL_DN &kp C_VOL_UP &kp N  &kp M     &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT
                               &kp LSHFT &kp SPACE &trans                           &trans &kp SPACE
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // ---------------------------------------------------------------------
        // MOUSE Layer
        // ---------------------------------------------------------------------
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       | ▽ |  ▽  |  ▽  |Scroll| ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       | ▽ | MB3 | MB1 | MB2  | ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ |  ▽  | Pan |Orbit | ▽ |
        //         | ▽ | ▽ | ▽ |       | ▽ |  ▽  |
        mouse_layer {
            display-name = "mouse";
            bindings = <
                &trans &trans &trans &trans &trans               &trans &trans   &trans   &mo SCROLL &trans
                &trans &trans &trans &trans &trans               &trans &mkp MB3 &mkp MB1 &mkp MB2   &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans   &pan     &orbit     &trans
                              &trans &trans &trans               &trans &trans
            >;
            sensor-bindings = <&enc_scroll SCRL_DOWN SCRL_UP>;
        };

        // ---------------------------------------------------------------------
        // SCROLL Layer
        // ---------------------------------------------------------------------
        // Mostly transparent - encoder scrolls while held from MOUSE layer
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       | ▽ | ▽ | ▽ | ▽ | ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       | ▽ | ▽ | ▽ | ▽ | ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ |
        //         | ▽ | ▽ | ▽ |       | ▽ | ▽ |
        scroll_layer {
            display-name = "scroll";
            bindings = <
                &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans               &trans &trans
            >;
            sensor-bindings = <&enc_scroll SCRL_DOWN SCRL_UP>;
        };

        // ---------------------------------------------------------------------
        // MOUSE2 Layer
        // ---------------------------------------------------------------------
        // Persistent mouse mode (toggled from RAISE Layer via &to MOUSE2)
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       |Base|  ▽  |  ▽  |Scroll2| ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       | ▽  | MB3 | MB1 | MB2   | ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽  |  ▽  | Pan |Orbit  | ▽ |
        //         | ▽ | ▽ | ▽ |       | ▽  |  ▽  |
        mouse2_layer {
            display-name = "mouse2";
            bindings = <
                &trans &trans &trans &trans &trans               &to BASE &trans   &trans   &mo SCROLL2 &trans
                &trans &trans &trans &trans &trans               &trans   &mkp MB3 &mkp MB1 &mkp MB2    &trans
                &trans &trans &trans &trans &trans &trans &trans &trans   &trans   &pan     &orbit      &trans
                              &trans &trans &trans               &trans   &trans
            >;
            sensor-bindings = <&enc_scroll SCRL_DOWN SCRL_UP>;
        };
		
        // ---------------------------------------------------------------------
        // SCROLL2 Layer
        // ---------------------------------------------------------------------
        // Mostly transparent - encoder scrolls while held from MOUSE2 layer
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       | ▽ | ▽ | ▽ | ▽ | ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ |       | ▽ | ▽ | ▽ | ▽ | ▽ |
        // | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ | ▽ |
        //         | ▽ | ▽ | ▽ |       | ▽ | ▽ |
        scroll2_layer {
            display-name = "scroll2";
            bindings = <
                &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans               &trans &trans
            >;
            sensor-bindings = <&enc_scroll SCRL_DOWN SCRL_UP>;
        };
    };
};
