config SHIELD_GOBLIT_LEFT
    def_bool $(shields_list_contains,goblit_left)

config SHIELD_GOBLIT_RIGHT
    def_bool $(shields_list_contains,goblit_right)

config SHIELD_GOBLIT_DONGLE
	def_bool $(shields_list_contains,goblit_dongle)